<html>
	<title>{{ title }}</title>
	<meta charset="utf-8"/>
	<body style="background-color: #DCDCDC;">
		<h1>{{ title }}</h1>
		<div style="max-width: 500px; padding: 20px; 40px; border: 1px solid #D3D3D3; background-color: white;">
			<p>{{ message }}</p>
			<p>{{ store_name }}</p>
			<p>
				<a href="{{ store_url }}">{{ store_url }}</a>
			</p>
		</div>
	</body>
</html>
